$background: #eef5fe;
$shadow: 1px 1px 1px rgba(89, 159, 253, 0.5);
$raised: 1px 1px 1px 1px;
$large: 0.85714rem;
$small: 0.5rem;
$small1: 0.35714rem;
$small2: 0.2143rem;
$medium: 0.71428rem;
$large: 0.85714rem;
$dark70: rgba(17, 22, 25, 0.63);
$dark80: rgba(17, 22, 25, 0.75);
$dark90: rgba(17, 22, 25, 0.85);