.cart{
    cursor: pointer;
    position: relative;


    .number-of-items{
        border-radius: 60%;
        width: 20px;
        height: 20px;
    
        background: rgb(255, 0, 0);
        border: 2px solid rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
        position: absolute;
        top: -13px;
        right: -13px;
    
        &--visible{
            visibility: visible;
        }

        &--hidden {
            visibility: hidden;
        }
    }
}