
  .search-box-container{
      max-width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 20px;


      &__input{
        height: 30px;
        border-width: 0 0 1px;
        border-color: var(--color-text-main);
        padding: 0 10px;
        max-width: 150px;
        

        &:focus{
            outline:none;
        }

        &--open{
            max-width:  150;
            opacity: 1;
            transition: max-width 1s, opacity 0.5s
          }
        &--closed {
            max-width:  0;
            padding: 0;
            opacity: 0;
            transition: max-width 1s, opacity 0.5s
          }
    }

    &__button{
        padding: 0px;
    }



  }

  .search{
    height: 30px;
    border-bottom: 1 px solid black;
}


  .smallIcon {
    width: 30px;
    height: 30px;
    color: "#313037";
  }
  .icon {
    width: 30;
    height: 30;
    padding: 5;
    top: 10;
  }