
  .search-box-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid black;
      border-radius: 5px;
      overflow: hidden;

      input{
        height: 100%;
        width: 100%;
        border: none;
        padding: 0 1em;

        &:focus-visible{
          outline: none;
        }
      }

      button {
        margin-right: 0;
        margin-left: auto;
        border: none;
        padding: 0.1rem 0.8rem;
        color: white;
        background-color: black;
    }


  }

