.container {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: left;
	flex-direction: column;
	gap: 20px;
	background-image: linear-gradient(to top, #ffffff, #fcfcfc, #f8f8f8, #f5f5f5, #f2f2f2);
}

.social-link {
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	li {
		display: inline-block;
		margin-right: 20px;

		a {
			&:active,
			&:visited {
				color: var(--color-text-main);
			}

			&:hover {
				color: var(--color-text-secondary);
			}
		}
	}

	li:last-child {
		margin-right: 0px;
	}
}

.info-link {
	list-style: none;
	a {
		text-decoration: none;

		&:active,
		&:visited {
			color: var(--color-text-main);
		}

		&:hover {
			color: var(--color-text-secondary);
		}
	}
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divider {
	width: 100%;
	color: var(--color-text-main);
}

.contact-info {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 800px) {
	.container{
	flex-direction: row;
	padding: 20px 0px;
	}

	.social-link{
		margin-bottom: 5px;
	}

	.contact{
		flex-grow: 1;
		order: 3;
	}

	.copyright{
		flex-grow: 2;
		order: 2;
		text-align: center;
		align-self: flex-end;
	}

	.info-link{
		flex-grow: 1;
		order: 1;
		align-self: flex-end;
	}


}

