html {
	font-size: 16px;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-background);
	font-family: 'Roboto', sans-serif;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

*,
::after,
::before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--color-background: #f2f2f2;
	--color-text-main: #313037;
	--color-text-secondary: #7f7a7c;
	--color-text-subtext: #999492;
}

textarea:focus,
input:focus {
	outline: none;
}
