.products-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem;
	gap: 1.5rem;
	margin: 0 auto;
	max-width: 100%;

	h1 {
		font-size: 32px;
		font-weight: lighter;
		font-style: italic;
		margin: 0;
	}

	&__actions {
		display: flex;
		flex-direction: row;

		button {
			background: #000000;
			border: 0.5px solid #000000;
			color: white;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
			max-width: 100px;
			font-size: 24px;
			font-weight: bolder;
			padding: 0;
			min-width: 75px;
		}

		&--selected {
			display: flex;
			gap: 1rem;
			margin-right: 0;
			margin-left: auto;

			button {
				min-width: 75px;
			}
		}

		&--hidden {
			display: block;
			visibility: hidden;
		}
	}
}
