.admin-layout-container {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
	.hamburger-container {
		background-color: black;
		color: white;
		width: 100%;
		height: 30px;
		z-index: 7;
		position: sticky;
		top: 0;

		&__button {
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 768px) {
	.admin-layout-container {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto;
		grid-template-areas: 'sidebar main-content';

		.hamburger-container {
			display: none;
		}

		.content {
			grid-area: main-content;
			overflow: hidden;
			padding: 0 1rem;
			margin: 0 auto;
		}

		.sidebar {
			position: fixed;
			grid-area: sidebar;
			width: 200px;
		}
	}
}
